.resultados-busqueda { 
    display:none; /* block */
	background-color:#f7f7f7;
	margin-top:10px;
	padding:25px;
}

.table-detalles tbody tr td a{
	font-size:16px;
	color:#B01657;
	white-space:none;
}

/*
.navbar-inverse .navbar-nav > li > a:focus{
  color: #eb0029;
}*/
/*
select:active::-ms-value {background-color: white; color:#888;}
select:hover::-ms-value {background-color: white; color:#888;}
select:focus::-ms-value {background-color: white; color:#888;}
/*select:visited::-ms-value {background-color: white; color:#888;}
rdy*/
